.App{
  background-color: #ffffff;
  width: 1280px;
  min-height: 1080px;
  box-shadow:0 0  20px 3px #aaa;
  padding: 40px 40px 0 40px;
}
.body{
  display: flex;
  justify-content: space-between;
  margin-top:40px;
}
.main{
  width: 860px;
}
.right{
  width: 340px;
}
.search>input{
  width: 200px;
  border: 1px solid #E3E3E3;
  color: #565656;
  padding: 6px 12px;
  height: 18px;
  font-size: 13px;
  margin-right: 15px;
}
.search>button{
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background-color: #5fbeaa;
  border: 1px solid #5fbeaa;
  border-radius: 3px;
  height: 30px;
  width: 55px;
  cursor: pointer;
  outline: none;
}
.label>ul>li{
  list-style: none;
}


.label{
  margin-top: 40px;

}
.label >p {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #636363;
}
.label>ul{
  padding: 0 !important;
}
.label>ul>li{
  color: #757575;
  font-size: 14px;
  line-height: 1.8;
  cursor: pointer;
}
.label>ul>li:hover{
  color: #21759b !important;
}
.label-tab>span{
  font-size: 14px;
  color: #757575;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
}
